%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 et

%%%------------------------------------------------------------------------------
%%% @copyright (c) 2017, DuoMark International, Inc. All Rights Reserved.
%%% @author Jay Nelson <jay@duomark.com>
%%%------------------------------------------------------------------------------

[
  {bubba,
   [
    %% Default values:
    %% {ipv4,  {127,0,0,1}},
    %% {port,         9998}

    %% Benchmarks are run for bench_duration milliseconds
    %% The initial run is bench_iters number of times,
    %% but the test is self-adjusting to approximate 1 second.
    %% So roughly bench_duration/1000 results are reported.
    {bench_iters,      100},
    {bench_duration, 30000}
   ]
  }
].
